.appContainer {
  margin-left: 10px;
}

.searchBar {
  width: 50.5%;
  margin-top: 5px;
}

.recipe {
  font-size: 16px;
  color: black;
  font-weight: bold;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  width: 50%;
  height: 100px;
  border-radius: 5px;
}

.recipeContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}

.recipeName {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin: 10px 0;
  list-style-type: none;
  text-transform:capitalize;
  margin-left: 10px;
}

.fullRecipeBtn {
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border: solid 1px red;
  color: black;
  padding: 10px;
  cursor: pointer;
}

.urlBtn {
  border-radius: 3px;
  width: 30%;
  margin-left: 10px;
  margin-top: 10px; 
}

.tags {
  margin-left: 10px;
  font-weight: lighter;
}

.topBtns {
  margin-left: 5px;
}

.searchBtn {
  margin-left: 5px;
}

.resetBtn {
  margin-top: 5px;
}

.recipeCompBtnContainer {
  flex-direction: row;
}

.favouriteBox {
  flex-direction: row;
  border: solid black 2px;
  width: 50%;
  height: 100px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin: 10px 0;
  list-style-type: none;
  text-transform:capitalize;
}
